NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://morayoadefisoye_db_user:BMyeet321@cluster0.nvitxz5.mongodb.net/mydb
JWT_SECRET=your-super-secret-jwt-key-change-in-production
FRONTEND_URL=http://localhost:5173
